body {
    background-image: url(Images/fondo.png);
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 98vh; /* Asegura que la imagen se centre verticalmente */
}

.cesta {
    background-image: url(Images/cesta.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 70%; /* Distancia desde arriba */
    left: 50%; /* Distancia de los laterales */
    transform: translate(-50%, -50%); /* Ajustar al centro */
    z-index: 2; /* Encima de la imagen de fondo */
}